@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
.uk-h2{
  font-family: 'Roboto Mono', monospace;
}
#home, #about-me, #projects, #skills{
  width:75%;
}
#top{
  background: white;
}
#skills-container{
  display:flex;
  justify-content: center;
}
hr{
  height:25px;
  width:75%;
}
.anchor{
  margin-left: 25px;
}
.list{
  list-style-type: none;
}
i{
  font-size: 50px;
  margin: 10px 10px 10px 10px;
  padding-top:20px; 
  padding-bottom:20px; 
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
img {
  background-size: 100% 100%; 
}
.shadow{
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;

}
.slide{
  height: 50%;
  width: 50%;
}
.slide-container{
  position: relative;
  text-align: center;
}
.slideshow-wrapper{
  height:100%;
  width:100%;
  object-fit: contain;
}
.center-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
#cartoon{
  height:100px;
}
.project-description{
  background: white;
}
strong{
  color: #bf5700;
}
  
  